.loginform{
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 90vh;
   background: #fff;
}

.loginHeader{
    font-size: 42px;
    margin-bottom: 40px;
}

.loginRow{
    justify-content: center;
    display: flex;
    margin-bottom: 24px;
}

.errorDiv{
    font-size: 14px;
    color: red;
    text-align: center;
}